---
import Case from "./Case.astro";
import {useTranslations} from "../i18n/utils";
import {getLangFromUrl} from "../i18n/utils";
import FirstCase from '../assets/first_case.png';
import SecondCase from '../assets/second_case.png';
const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);
const cases = [
    {image: FirstCase, description: t('firstCaseDescr'), icon: 'avito', position: t('firstPosition')},
    {image: SecondCase, description: t('secondCaseDescr'), icon: 'avito', position: t('firstPosition')},
]
---
<main class="flex w-full w-[calc(100vw - 20rem)] h-auto overflow-scroll pr-7 py-7 scroll-smooth">
    <div class="flex w-full flex-col gap-30">
        {cases.map(({image, description, icon, position}) => {
            return <Case description={description} image={image} icon={icon} position={position}/>
        })}
    </div>
</main>
