---
import Case from "./Case.astro";
import {useTranslations} from "../i18n/utils";
import {getLangFromUrl} from "../i18n/utils";
import AvitoFirst from '../assets/avito-first.png';
import DarkAvitoFirst from '../assets/dark-avito-first.png';
import DarkAvitoSecond from '../assets/dark-avito-second.png';
import DarkAvitoThird from '../assets/dark-avito-third.png';
import DarkAvitoFourth from '../assets/dark-avito-fourth.png';
import DarkAvitoFifth from '../assets/dark-avito-fifth.png';
import DarkDesign from '../assets/dark-design.png';
import DarkAvitoSixth from '../assets/dark-avito-sixth.png';
import AvitoSecond from '../assets/avito-second.png';
import AvitoThird from '../assets/avito-third.png';
import AvitoFourth from '../assets/avito-fourth.png';
import AvitoFifth from '../assets/avito-fifth.png';
import AvitoSixth from '../assets/avito-sixth.png';
import Design from '../assets/design.png';
const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);
const cases = [
    {
        image: AvitoFirst,
        darkThemeImage: DarkAvitoFirst,
        description: t('firstCaseDescr'),
        icon: 'avito',
        position: t('avitoPosition')
    },
    {
        image: AvitoSecond,
        darkThemeImage: DarkAvitoSecond,
        description: t('secondCaseDescr'),
        icon: 'avito',
        position: t('avitoPosition'),
    }, {
        image: AvitoThird,
        darkThemeImage: DarkAvitoThird,
        description: t('thirdCaseDescr'),
        icon: 'avito',
        position: t('avitoPosition'),
    }, {
        image: AvitoFourth,
        darkThemeImage: DarkAvitoFourth,
        description: t('fourthCaseDescr'),
        icon: 'avito',
        position: t('avitoPosition'),
    },
    {
        image: AvitoFifth,
        darkThemeImage: DarkAvitoFifth,
        description: t('fifthCaseDescr'),
        icon: 'avito',
        position: t('avitoPosition'),
    },
    {
        image: Design,
        darkThemeImage: DarkDesign,
        description: t('sixthCaseDescr'),
        icon: 'markWeber',
        position: t('markWeberPosition'),
    },
    {
        image: AvitoSixth,
        darkThemeImage: DarkAvitoSixth,
        description: t('seventhCaseDescr'),
        icon: 'avito',
        position: t('avitoPositionSecond'),
    },
]
---
<section
        class="flex w-full h-auto overflow-scroll text-[1.375rem] tracking-[0.035em] font-light leading-6 flex-col pr-7 py-7 scroll-smooth max-md:overflow-visible">
    <div class="flex w-full flex-col gap-30 mb-10">
        {cases.map(({image, darkThemeImage, description, icon, position}) => {
            return <Case description={description} image={image} darkThemeImage={darkThemeImage} icon={icon}
                          position={position}/>
        })}
    </div>
    <p class="pl-28 text-sm max-md:pl-0">
        created by
        <a href="https://github.com/vladoskav/designer-cv" target="_blank"
           class="hover:text-[#757575] underline transition-colors w-fit">
            vladoskav
        </a>
    </p>
</section>
